:root {
  --card: oklch(0.995 0.01 84);
  --card-foreground: oklch(0.19 0.04 260);
  --popover: oklch(0.995 0.01 84);
  --popover-foreground: oklch(0.19 0.04 260);
  --primary: oklch(0.53 0.18 260);
  --primary-foreground: oklch(0.98 0.018 84);
  --secondary: oklch(0.95 0.045 190);
  --secondary-foreground: oklch(0.27 0.08 210);
  --muted: oklch(0.95 0.018 80);
  --muted-foreground: oklch(0.48 0.045 250);
  --accent: oklch(0.72 0.15 175);
  --accent-foreground: oklch(0.16 0.045 170);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.86 0.045 84);
  --input: oklch(0.86 0.045 84);
  --ring: oklch(0.67 0.11 196);
  --chart-1: oklch(0.78 0.16 70);
  --chart-2: oklch(0.72 0.15 175);
  --chart-3: oklch(0.62 0.16 260);
  --chart-4: oklch(0.7 0.15 326);
  --chart-5: oklch(0.66 0.17 28);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
  --background: oklch(0.985 0.018 84);
  --foreground: oklch(0.19 0.04 260);
}

.dark {
  --background: oklch(0.17 0.035 255);
  --foreground: oklch(0.985 0.01 84);
  --card: oklch(0.23 0.045 250);
  --card-foreground: oklch(0.985 0.01 84);
  --popover: oklch(0.23 0.045 250);
  --popover-foreground: oklch(0.985 0.01 84);
  --primary: oklch(0.66 0.16 260);
  --primary-foreground: oklch(0.985 0.012 84);
  --secondary: oklch(0.27 0.055 198);
  --secondary-foreground: oklch(0.96 0.025 190);
  --muted: oklch(0.25 0.035 250);
  --muted-foreground: oklch(0.76 0.035 248);
  --accent: oklch(0.74 0.14 175);
  --accent-foreground: oklch(0.15 0.045 170);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 12%);
  --input: oklch(1 0 0 / 16%);
  --ring: oklch(0.74 0.11 196);
  --chart-1: oklch(0.78 0.16 70);
  --chart-2: oklch(0.72 0.15 175);
  --chart-3: oklch(0.72 0.15 260);
  --chart-4: oklch(0.74 0.14 326);
  --chart-5: oklch(0.68 0.17 28);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}
