{{- with listSecretsByProjectSlug "true-rdp-58y0" "prod" "/shared" `{"recursive": false, "expandSecretReferences": true}` }}
{{- range . }}
{{ .Key }}={{ .Value }}
{{- end }}
{{- end }}
{{- with listSecretsByProjectSlug "true-rdp-58y0" "prod" "/backend" `{"recursive": false, "expandSecretReferences": true}` }}
{{- range . }}
{{ .Key }}={{ .Value }}
{{- end }}
{{- end }}
